body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: 'Exo 2', sans-serif;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.planet-nav li{
    position: relative;
    color: white;
    margin-right: 15px;
    padding-top: 25px;
}

.planet-nav a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.planet-nav img {
    width: 40px;
}

.planet-nav span {
    position: absolute;
    display: none;
    transform: rotate(45deg);
    width: 200px;
    transform-origin: top left;
    left: 50%;
    opacity: 0;
    transition: 0.2s;
}

.planet-nav li:hover span,
.planet-nav li:focus span {
    /* display: block;
    opacity: 1;
    transition: 0.2s; */
}

.planet-nav li.nav-dwarf-planet {
    padding-top: 35px;
}

.nav-dwarf-planet img {
    width: 20px;
}

#sunnav {
    padding-top: 0;
}

#sunnav img{
    width: 100px;
}

#saturnnav {
    padding-top: 20px;
}

#saturnnav img {
    width: 90px;
}

#uranusnav {
    padding-top: 8px;
}

#uranusnav img {
    width: 43px;
}

#neptunenav {
    padding-top: 23px;
}

#neptunenav img {
    width: 72px;
}

#terminationshocknav {
    padding-top: 0px;
}

#terminationshocknav img {
    height: 100px;
}

#nav-new-horizons {
    padding-top: 20px;
}

#nav-new-horizons img {
    height: 40px;
}

#nav-voyager1,
#nav-voyager2 {
    padding-top: 7px;
}

#nav-voyager1 img,
#nav-voyager2 img{
    height: 91px;
}

#nav-pioneer10,
#nav-pioneer11 {
    padding-top: 12px;
}

#nav-pioneer10 img,
#nav-pioneer11 img{
    height: 85px;
}

.planet-nav li.nav-light {
    padding-top: 34px;
    padding-right: 15px;
    margin-right: 0;
}

.nav-light img {
    width: 10px;
}



#warpControls {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0px;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

#liveData {
    width: 100%;
    padding-left: 40px;

}

#stop-point {
  position: fixed;
  left: 0;
}

/* #engage {
  position: fixed;
  bottom: 0;
}

#stop {
  position: fixed;
  bottom: 0;
  left:100px;
}

#destination {
  position: fixed;
  bottom: 0;
  left: 500px;
} */

.spacecraft, .boundary {
    height: 1px;
    width: 1px;
    position: absolute;
}

.planet-wrap {
    position: absolute;
    top: 40%;
    transform: translateY(-60%) translateX(-100px);
    padding-left: 100px;
}

.planet, .planetary-moon {
    border-radius: 50%;
}

.planetary-moon {
    position: absolute;
    bottom: 50%;
}

.planetary-system {
    position: relative;
    transform-origin: 50% 50% 0px;
}

.label {
    position: absolute;
    left: calc(50% + 49px);
    min-width: 500px;
    border-left: 1px solid white;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    color: white;
}

.label h1 {
    font-weight: 300;
}

.moon-label {
    top: -218px;
    width: 500px;
}

.moon-name {
    position: relative;
    bottom: 93px;
    padding-bottom: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: white;
    border-left: 1px solid white;
    
}

.planet-name {
    color: white;
    margin-bottom: 0;
    padding-top: 60px;
    padding-left: 10px;
    font-size: 60px;
}

.objectInfo {
    padding-left: 25px;
    padding-top: 15px;
}

.liveObjectDataTitle {
    font-weight: 700;
}

#starship {
    display: none;
}

#interstellarWarpInfo {
    display: none;
}

/******* Planets and Moons ********/
/* Sun */
#sun .planet {
    height: 400px;
    width: 400px;
    background-color: yellow;
}

.sun-label {
    position: absolute;
    top: 40%;
    left: 46%;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;

}

/* Mercury */
#mercury {
    left: 16668.6px;
}

#mercury .planet {
    height: 1.4px;
    width: 1.4px;
    background-color: white;
}

/* Venus */
#venus {
    left: 31143.86px;
}

#venus .planet {
    height: 3.5px;
    width: 3.5px;
    background-color: gold;
}

/* Earth */
#earth {
    left: 43060.3px;
}

#earth .planet {
    height: 3.6px;
    width: 3.6px;
    background-color: #7cc6df;
}

#the-moon {
    height: 1px;
    width: 1px;
    background-color: white;
    left: 110.6px;
}

/* Mars */
#mars {
    left: 65597.8px;
}

#mars .planet {
    height: 1.9px;
    width: 1.9px;
    background-color: #ff1818;
}

/* Jupiter */
#jupiter {
    left: 224080px;
}

#jupiter .planet {
    height: 40.2px;
    width: 40.2px;
    background-color: #e6d3ac;
}

#io {
    height: 1px;
    width: 1px;
    background-color: #ffff91;
    left: 121.5px;
}

#callisto {
    height: 1.4px;
    width: 1.4px;
    background-color: #dbcfc4;
    left: 542px;
}

#ganymede {
    height: 1.5px;
    width: 1.5px;
    background-color: #e0c1ac;
    left: 308px;
}

#europa {
    height: 0.9px;
    width: 0.9px;
    background-color: #dbba94;
    left: 193px;
}

/* Saturn */
#saturn {
    left: 412469px;
}

#saturn .planetary-system {
    transform: rotate(-26.7deg);
}

#saturn .planet {
    height: 33.5px;
    width: 33.5px;
    background-color: #eec269;
}

#saturn-rings {
    position: absolute;
    top: 50%;
    left: -23px;
    height: 1px;
    width: 78.7px;
    background-color: #c0b8b8;
}

#titan {
    height: 0.7px;
    width: 0.7px;
    background-color: #efd95b;
    left: 351.7px;
    transform: rotate(26.7deg);
}

/* Uranus */
#uranus {
    left: 826377px;
}

#uranus .planetary-system {
    transform: rotate(-98deg);
}

#uranus .planet {
    height: 14.6px;
    width: 14.6px;
    background-color: #69e9ee;
}

#titania {
    height: 1px;
    width: 1px;
    background-color: #ffffff;
    left: 125px;
    transform: rotate(98deg);
}

/* Neptune */
#neptune {
    left: 1293823px;
}

#neptune .planetary-system {
    transform: rotate(-28deg);
}

#neptune .planet {
    height: 14.2px;
    width: 14.2px;
    background-color: #69b9ee;
}

#triton {
    height: 0.8px;
    width: 0.8px;
    background-color: #ffffff;
    left: 99.5px;
    transform: rotate(28deg);
}

/********* Dwarf Planets **********/
/* Ceres */
#ceres {
    left: 119167px;
}

#ceres .planet {
    height: 1px;
    width: 1px;
    background-color: #eceef1;
}


/* Pluto */
#pluto {
    left: 1700068px;
}

#pluto .planet {
    height: 1px;
    width: 1px;
    background-color: #ecc6bc;
}

#charon {
    height: 0.3px;
    width: 0.3px;
    background-color: #ecc6bc;
    left: 5.7px;
}

/* Eris */
#eris {
    left: 4138647px;
}

#eris .planet {
    height: 1px;
    width: 1px;
    background-color: #eceef1;
}

/* Sedna */
#sedna {
    left: 3662060px;
}

#sedna .planet {
    height: 1px;
    width: 1px;
    background-color: #e2d7d7;
}


/* Makemake */
#makemake {
  left: 1970813px
}

#makemake .planet {
  height: 1px;
  width: 1px;
  background-color: #ecc6bc;
}


#termination-shock {
  left: 4306030px;
}

#oneLSec {
  left: 486px
}

#oneLMin {
  left: 5177.5px;
}

#oneLHr {
  left: 344047px
}

#oneLDay {
  left: 7455537px;
}

#oneThousandthLY {
  left: 2723216px;
}

#onePercLY {
  left: 27232168px;
}

#scrollEnd {
  left: 9999999999999999999px;
}
